<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
<h1>User List</h1>
<a href="/add">Add User</a>
<ul>
    <% users.forEach(user => { %>
        <li>
            <%= user.name %> - <%= user.email %> 
            <a href="/edit/<%= user._id %>">Edit</a>
            <a href="/delete/<%= user._id %>">Delete</a>
        </li>
    <% }) %>
</ul>
